$color_background_white:#E5E5E5;
$color_background_backdrop:rgba(0, 0, 0, 0.4);
$color_background_label:rgba(47, 48, 58, 0.8);
$color_background_banner:#2F303A;
$color_background-icon:rgba(255, 255, 255, 0.1);
$color_background_emergent:rgba(33, 150, 243, 0.9);
$color_background_banneroverlay:#2f303a52;
$color_background-buttom:#F5F4FA;
$color_white:#FFFFFF;
$color_hover:#2196F3;
$color_letter:#212121;
$color_letter2:rgba(255, 255, 255, 0.6);
$color_border_buttom:#ECECEC;
$color_fill_grey:#757575;
$color_fill_black:#000000;
$color_boxshadow_1:0px 4px 4px rgba(0, 0, 0, 0.15);
$color_boxshadow_2:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$color_boxshadow:0px 4px 4px rgba(0, 0, 0, 0.15);
$color_boxshadow_card:0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$color_boxshadow_modal:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$color_border:rgba(33, 33, 33, 0.2);
$color_border2:#AFB1B8;
$color_border3:#ffffff4d;
$color_filter:#00000026;
